[Desktop Entry]
Type=Application
Name=picoforge
Exec=picoforge
Icon=in.suyogtandel.picoforge
Terminal=false
Type=Application
Categories=Utility;Clock;
Keywords=Config;
StartupNotify=true
DBusActivatable=true
